<ion-view title="Principal" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/cWapmi9VTWWWZy6zzqsn_Apps-libreoffice-main-icon.png" width="auto" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="principal-card23">
      <a ui-sref="comunicados" id="principal-button5" class="button button-positive  button-block icon-left ion-alert">Comunicados</a>
      <button id="principal-button6" class="button button-dark  button-block icon-left ion-android-bus">Ônibus</button>
      <button id="principal-button7" class="button button-assertive  button-block icon-left ion-ios-people">Representantes</button>
      <button id="principal-button8" class="button button-royal  button-block icon-left ion-help">Dúvidas</button>
      <button id="principal-button9" class="button button-balanced button-block icon-left ion-ios-reverse-camera-outline">Checkar Aluno</button>
    </div>
  </ion-content>
</ion-view>
